{% extends 'base.html' %}
{% load static %}
{% block content %}


		<section id="container">
			<div class="wrap-container">
				<!-----------------content-box-1-------------------->
<!--				strong>{{ post.sub_title | safe }}</strong><br/><br>-->

<!--				<span>{{ post.content | safe }}</span><br/><br>-->
				{% for post in posts %}
				<section class="content-box background-gray box-1 zerogrid">
					<div class="row wrap-box"><!--Start Box-->
<!--						<div class="col-1-2">-->
							<div class="wrap-col">
								<div style="padding-top: 60px;">
									<center><img src=""></center>
								</div>
							</div>
<!--						</div>-->
<!--						<div class="col-1-2">-->
							<div class="wrap-col">
								<div class="row">
									<div class="t-center" style="padding-top: 30px;">
										<div class="header">
											<h2>{{ post.title }}<span class="color-red">{{ post.sub_title }}</span></h2>
										</div>
										<br/><br>
										<span>{{ post.content | safe }}</span><br/><br>
										<img src="{{ post.image.url }}" alt="">
										<a href="{% url 'blog_detail' post.title %}" class="button" >More Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>



				{% endfor %}
{% endblock %}