{% extends 'base.html' %}
{% load static %}
{% block content %}




		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container clearfix">
				<div id="main-content">
					<div class="wrap-content zerogrid ">
						<article class="background-gray">
							<div class="art-header">
								<hr class="line-2">
								<h2>OFFERS</h2>
							</div>
							<div class="art-content">
								<div class="row">
									<div class="col-1-3">
										<div class="wrap-col">
											<div class="item-container">
												<a class="example-image-link" href="{% static 'images/blue.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
													<div class="item-caption">
														<div class="item-caption-inner">
															<div class="item-caption-inner1">
																<h3>$45</h3>
																<span>Only</span>
															</div>
														</div>
													</div>
													<img class="example-image" src="{% static 'images/blue.jpg' %}" alt=""/>
												</a>
											</div>
											<div class="item-container">
												<a class="example-image-link" href="{% static 'images/red.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
													<div class="item-caption">
														<div class="item-caption-inner">
															<div class="item-caption-inner1">
																<h3>$45</h3>
																<span>Only</span>
															</div>
														</div>
													</div>
													<img class="example-image" src="{% static 'images/red.jpg' %}" alt=""/>
												</a>
											</div>
										</div>
									</div>
									<div class="col-1-3">
										<div class="wrap-col">
											<div class="item-container">
												<a class="example-image-link" href="{% static 'images/blue.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
													<div class="item-caption">
														<div class="item-caption-inner">
															<div class="item-caption-inner1">
																<h3>$45</h3>
																<span>Only</span>
															</div>
														</div>
													</div>
													<img class="example-image" src="{% static 'images/blue.jpg' %}" alt=""/>
												</a>
											</div>
											<div class="item-container">
												<a class="example-image-link" href="{% static 'images/red.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
													<div class="item-caption">
														<div class="item-caption-inner">
															<div class="item-caption-inner1">
																<h3>$45</h3>
																<span>Only</span>
															</div>
														</div>
													</div>
													<img class="example-image" src="{% static 'images/red.jpg' %}" alt=""/>
												</a>
											</div>
										</div>
									</div>
									<div class="col-1-3">
										<div class="wrap-col">
											<div class="item-container">
												<a class="example-image-link" href="{% static 'images/blue.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
													<div class="item-caption">
														<div class="item-caption-inner">
															<div class="item-caption-inner1">
																<h3>$45</h3>
																<span>Only</span>
															</div>
														</div>
													</div>
													<img class="example-image" src="{% static 'images/blue.jpg' %}" alt=""/>
												</a>
											</div>
											<div class="item-container">
												<a class="example-image-link" href="{% static 'images/red.jpg' %}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
													<div class="item-caption">
														<div class="item-caption-inner">
															<div class="item-caption-inner1">
																<h3>$45</h3>
																<span>Only</span>
															</div>
														</div>
													</div>
													<img class="example-image" src="{% static 'images/red.jpg' %}" alt=""/>
												</a>
											</div>
											<div class="item-container">
												<a class="example-image-link" href="images/menu-9.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
													<div class="item-caption">
														<div class="item-caption-inner">
															<div class="item-caption-inner1">
																<h3>$45</h3>
																<span>Only</span>
															</div>
														</div>
													</div>
													<img class="example-image" src="images/menu-9.jpg" alt=""/>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</article>
						<article class="background-white">
							<div class="art-header">
								<hr class="line-2">
													<a class="button" href="#">Buy Now</a>
		<!--////////////////////////////////////Footer-->
{% endblock %}