{% extends 'base.html' %}
{% load static %}
{% block content %}

				<section class="content-box background-white box-2 zerogrid">
					<div class="row wrap-box"><!--Start Box-->
						<div class="col-1-2 f-right">
							<div class="wrap-col">
								<div style="padding-top: 60px;">
									<center><img src="{{ club_category.logo.url | default_if_none:'#'  }}"></center>
								</div>
							</div>
						</div>
						<div class="col-1-2">
							<div class="wrap-col">
								<div class="row">
									<div class="t-center" style="padding-top: 30px;">
										<div class="header">
										</div>
										<h1><strong>{{ club_category.title }}</strong></h1><br/><br>
										{% for club in club_type %}
										<h3><strong><a href="{% url 'club_detail' club.name %}"><span class="color-red">{{ club.name }}</span></a></strong></h3><br>
										<strong>{{ club.address }}</strong>
										<br><strong>{{ club.phone }}</strong><br/><br>
											<center><img src="{{ club.get_image }}"></center>
										{% endfor %}
										<a href="#" class="button" >More Details</a>

									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

{% endblock %}